/HuaChun_DailyReport.suo
日報(給維謙)修正
HuaChun_DailyReport.exe
HuaChun_DailyReport.csproj.FileListAbsolute.txt
Interop.Microsoft.Office.Core.dll
Interop.MSWinsockLib.dll
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
HuaChun_DailyReport.csproj.GenerateResource.Cache
HuaChun_DailyReport.csproj.ResolveComReference.cache
HuaChun_DailyReport.csprojResolveAssemblyReference.cache
HuaChun_DailyReport.pdb
HuaChun_DailyReport.ConstantFactorSettingForm.resources
HuaChun_DailyReport.DailyReportIncreaseForm.resources
HuaChun_DailyReport.EditFormBase.resources
HuaChun_DailyReport.ExtentionIncreaseForm.resources
HuaChun_DailyReport.HolidaySettingForm.resources
HuaChun_DailyReport.IncreaseEditFormBase.resources
HuaChun_DailyReport.LoginForm.resources
HuaChun_DailyReport.Main.resources
HuaChun_DailyReport.MaterialSearchForm.resources
HuaChun_DailyReport.MemberIncreaseForm.resources
HuaChun_DailyReport.ProjectEditForm.resources
HuaChun_DailyReport.ProjectIncreaseForm.resources
HuaChun_DailyReport.Properties.Resources.resources
HuaChun_DailyReport.QueryFinishForm.resources
HuaChun_DailyReport.QueryFormBase.resources
HuaChun_DailyReport.QueryNonworkingDayChartForm.resources
HuaChun_DailyReport.QueryWeatherChartForm.resources
HuaChun_DailyReport.SearchFormBase.resources
HuaChun_DailyReport.TendorManageForm.resources
HuaChun_DailyReport.VendorIncreaseForm.resources
HuaChun_DailyReport.VendorSearchForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.LoginForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.Main.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.MaterialSearchForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.MemberIncreaseForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.pdb
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.ProgressForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.ProjectEditForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.ProjectIncreaseForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.Properties.Resources.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.QueryFinishForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.QueryFormBase.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.QueryNonworkingDayChartForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.QueryWeatherChartForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.SearchFormBase.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.VendorIncreaseForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.VendorSearchForm.resources
/HuaChun_DailyReport/obj/x86/Release/Interop.Microsoft.Office.Core.dll
/HuaChun_DailyReport/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/HuaChun_DailyReport/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.csproj.FileListAbsolute.txt
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.csproj.GenerateResource.Cache
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.csproj.ResolveComReference.cache
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.csprojResolveAssemblyReference.cache
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.DailyReportIncreaseForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.EditFormBase.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.exe
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.ExtentionIncreaseForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.HolidaySettingForm.resources
/HuaChun_DailyReport/obj/x86/Release/HuaChun_DailyReport.IncreaseEditFormBase.resources
/HuaChun_DailyReport/obj/x86/Release
/HuaChun_DailyReport/bin/Debug/東尼史塔克的家晴雨表_有完工日_同日.xls
